{% extends 'base1.html' %}


{% block body %}

    <!-- Header -->
    
    <div class="row">
        <div class="col-lg-6">
            <div class="text-container">
                <h1>Welocome <br>All <span id="js-rotating">TO PREDICT RESULTS</span></h1>
                <p class="p-large">Model is one of the best way to to get the results, instead of entering all the inputs!</p>
               
            </div>
        </div> <!-- end of col -->
        <div class="col-lg-6">
            <div class="image-container">
                <img class="img-fluid" style="height: 500px;" src="static/images/hospital1.jpg" alt="alternative">
            </div> <!-- end of image-container -->
        </div> <!-- end of col -->
    </div> <!-- end of row -->

<!-- end of header -->
   
    {% endblock %}  